# Laravel
backend/vendor/
backend/node_modules/
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/.env

# Vue
frontend/node_modules/
frontend/dist/

# Docker
docker/mysql/data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db